.page.col-11.col-lg-5 {
  width: 45vw !important;
}

@media only screen and (min-width: 990px) {
  li.nav-item {
    border: 1px solid rgb(191, 191, 191);
  }
}

div.row {
  margin-top: 8vh;
}

.page {
  background-color: rgb(238, 246, 243);
  margin: 1vw;
  padding: 5vw;
  font-family: Geogia;
}

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

/*Carousel*/
.carousel-item {
  padding-bottom: 15vh;
}
.carousel-caption {
  color: rgb(71, 71, 71);
  bottom: -5vh;
}
ol.carousel-indicators {
  color: rgb(71, 71, 71);
  bottom: -6vh;
}

#carouselExampleIndicators img {
  border: 8px solid white;
  opacity: .87;
}
#carouselExampleIndicators {
  margin-bottom: 45px;
}



/*About Column*/
div#about-summary h1 {
  margin-bottom: 15%;
}

.col-6 {
  text-align: center;
}

button.btn.btn-link {
  font-family: Georgia-Italic !important;
  color: rgb(74, 74, 74);
}
button.btn.btn-link:hover {
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}
div#footer-nav {
  bottom: 5vh;
}
div
